<div id="footerbg">
  <div class="wrap">
    <!-- footer links -->
    <p id="footer_menu">
    <a href="<%= relative_path_to("/index.html") %>">Ricora Homepage</a>
    <a href="<%= relative_path_to("/contact.html") %>">Contact us</a>
    <a href="http://www.tus.ac.jp/">TUS Homepage</a>
    
    <!-- credit link -->
    <a href="http://www.solucija.com" title="Free CSS Templates">CSS from Solucija</a>
    </p>
    <!-- /footer links -->

    <p id="copy">Ricora <span>a programmer's community</span></p>

    <div class="clear"></div>
  </div>
</div>

