<div id="footerbg">
    <div class="wrap">
        <!-- footer links -->
        <p id="footer_menu">
        <a href="http://www.ed.noda.tus.ac.jp/ricora/">Ricora Homepage</a>
        <a href="<%= relative_path_to("/contact.html") %>">Contact us</a>
        <a href="<%= relative_path_to("/escape_clause.html") %>">免責条項</a>
        <a href="http://www.tus.ac.jp/">TUS Homepage</a>

        <!-- credit link -->
        <a href="http://www.solucija.com" title="Free CSS Templates">CSS from Solucija</a>
        </p>
        <!-- /footer links -->

        <p id="copy">
        <a href="http://www.ed.noda.tus.ac.jp/ricora/">Ricora | <span>東京理科大学 電子計算機研究会</span></a>
        </p>

        <div class="clear"></div>
    </div>
</div>

