<div id="slideshow">
  <!-- 1st frame -->
  <div class="active">
    <img src="images/pitch/pitch1.jpg" alt="" />
    <div class="overlay transparent">
      <h2>Professional Approach</h2>
      <p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
    </div>
    <p class="arrow"><a href="#"></a></p>
  </div>
  <!-- /1st frame -->

  <!-- 2nd frame -->
  <div>
    <img src="images/pitch/pitch2.jpg" alt="" />
    <div class="overlay transparent">
      <h2>Precise Methods</h2>
      <p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
    </div>
    <p class="arrow"><a href="#"></a></p>
  </div>
  <!-- /2nd frame -->

  <!-- 3rd frame -->
  <div>
    <img src="images/pitch/pitch3.jpg" alt="" />
    <div class="overlay transparent">
      <h2>Mesurable Results</h2>
      <p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
    </div>
    <p class="arrow"><a href="#"></a></p>
  </div>
  <!-- 3rd frame -->

</div>

