<div id="slideshow">
  <!-- 1st frame -->
  <div class="active">
    <img src="images/pitch/pitch1.jpg" alt="" />
    <div class="overlay transparent">
      <h2>Rich & Useful Apps</h2>
      <p>人のためによりわかりやすいインターフェイスを模索したり、自分専用のちょっと便利なアプリを構築</p>
    </div>
    <p class="arrow"><a href="#"></a></p>
  </div>
  <!-- /1st frame -->

  <!-- 2nd frame -->
  <div>
    <img src="images/pitch/pitch2.jpg" alt="" />
    <div class="overlay transparent">
      <h2>Game</h2>
      <p>ゲームはその内容は当然ながら、パフォーマンスを追求したり、理数学的な面からも非常に創造性の高いものです</p>
    </div>
    <p class="arrow"><a href="#"></a></p>
  </div>
  <!-- /2nd frame -->

  <!-- 3rd frame -->
  <div>
    <img src="images/pitch/pitch3.jpg" alt="" />
    <div class="overlay transparent">
      <h2>Server Admin</h2>
      <p>自宅にサーバーを構築してみませんか？マシンを複数台持ったときや将来きっと役に立ちます</p>
    </div>
    <p class="arrow"><a href="#"></a></p>
  </div>
  <!-- 3rd frame -->

  <!-- 4th frame -->
  <div>
    <img src="images/pitch/pitch2.jpg" alt="" />
    <div class="overlay transparent">
      <h2>Web</h2>
      <p>現代IT界の花形。よりリッチだったりよりシンプルにサイトを構築してみませんか？</p>
    </div>
    <p class="arrow"><a href="#"></a></p>
  </div>
  <!-- /4th frame -->

</div>

