<div id="slideshow">
  <!-- 1st frame -->
  <div class="active">
    <img src="images/pitch/pitch1.jpg" alt="" />
    <div class="overlay transparent">
      <h2>Rich & Useful Apps</h2>
      <p>わかりやすいUIを考えたり、自分用の便利なツールをさくっと構築</p>
    </div>
    <p class="arrow"><a href="#"></a></p>
  </div>
  <!-- /1st frame -->

  <!-- 2nd frame -->
  <div>
    <img src="images/pitch/pitch2.jpg" alt="" />
    <div class="overlay transparent">
      <h2>Game</h2>
      <p>プログラミング勉強してやりたいこと人気No.1です</p>
    </div>
    <p class="arrow"><a href="#"></a></p>
  </div>
  <!-- /2nd frame -->

  <!-- 3rd frame -->
  <div>
    <img src="images/pitch/pitch3.jpg" alt="" />
    <div class="overlay transparent">
      <h2>Server Admin</h2>
      <p>自宅にサーバーを構築すれば、マシンを複数台持ったときや将来きっと役に立ちます</p>
    </div>
    <p class="arrow"><a href="#"></a></p>
  </div>
  <!-- 3rd frame -->

  <!-- 4th frame -->
  <div>
    <img src="images/pitch/pitch1.jpg" alt="" />
    <div class="overlay transparent">
      <h2>Web</h2>
      <p>IT界の花形ですね！！</p>
    </div>
    <p class="arrow"><a href="#"></a></p>
  </div>
  <!-- /4th frame -->

  <!-- 5th frame -->
  <div>
    <img src="images/pitch/pitch1.jpg" alt="" />
    <div class="overlay transparent">
      <h2>Competition</h2>
      <p>よりよいアルゴリズムを目指して</p>
    </div>
    <p class="arrow"><a href="#"></a></p>
  </div>
  <!-- /5th frame -->
</div>

