
@charset "utf-8";

@import url("body.css");
.question-wrap {
  margin-bottom: 20px;

}
.question {
  clear: left;
  border-bottom: 1px solid #ccc; 
  margin-bottom: 10px;
}

.question-head {
  float: left;
  width: 50px;
  font-size: 3em;
}

.question-body {
  padding-top: 0.8em;
  margin-left: 40px;
  font-size : 1.5em;
}

.answer {
  clear: left;
  padding-left: 30px;
}

.answer-head {
  float: left;
  font-size: 2em;
  width: 50px;
}

.answer-body {
  margin-left: 50px;
}
